body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: $bgcolor;
    height: 100vh;
}
svg {
    height: 100%;
    width: 100%;
}
